@model QuanLyHocSinh.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản của bạn";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Thay đổi thông tin tài khoản</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Mật khẩu:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Thay mật khẩu", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Tạo mới", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</main>