@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Phần mềm quản lý học sinh</h1>
            <p class="lead">Chào mừng bạn đến với phần mềm quản lý học sinh của trường Hoàng Văn Thụ.</p>
            <hr class="my-4">
            <p>Phần mềm này giúp cho việc quản lý học sinh dễ dàng và hiệu quả. Bạn có thể thực hiện các tác vụ như:</p>
            <ul>
                <li>Thêm, sửa đổi và xóa thông tin học sinh</li>
                <li>Xem thông tin chi tiết về học sinh</li>
                <li>Quản lý điểm số và thành tích học tập của học sinh</li>
                <li>Và nhiều chức năng khác...</li>
            </ul>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/HOCSINHs" role="button">Bắt đầu</a>
            </p>
        </div>
    </div>
</main>